.swiper-pagination {
  margin-top: 2rem;
  position: relative;
}

/* Customisation de la pagination */
.swiper-pagination-bullet {
  background-color: white; /* Couleur des bullets */
  width: 16px;
  height: 16px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f30e3f; /* Couleur des bullets actifs */
}
